global
    log stdout format raw local0
    maxconn 4096
    tune.ssl.default-dh-param 2048

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend k8s-api
    bind *:6443
    mode tcp
    default_backend k8s-api-backends

backend k8s-api-backends
    mode tcp
    balance roundrobin
    #option tcp-check
    #tcp-check send GET\ /healthz\ HTTP/1.1\r\nHost:\ localhost
    server master1 192.168.55.10:6443 #check
    server master2 192.168.55.11:6443 #check
    server master3 192.168.55.12:6443 #check

frontend ingress-http
    bind *:6480
    mode http
    default_backend ingress-http-backends

backend ingress-http-backends
    mode http
    balance roundrobin
    # option httpchk GET /healthz
    server node1 192.168.55.10:80 #check
    server node2 192.168.55.11:80 #check
    server node3 192.168.55.12:80 #check

frontend ingress-https
    bind *:6453 # ssl crt /etc/haproxy/certs/your_cert.pem
    mode tcp
    default_backend ingress-https-backends

backend ingress-https-backends
    mode tcp
    balance roundrobin
    #option httpchk GET /healthz
    server node1 192.168.55.10:443 #ssl verify none
    server node2 192.168.55.11:443 #ssl verify none
    server node3 192.168.55.12:443 #ssl verify none
